[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[collections]
# Install with: ansible-galaxy collection install -r requirements.yml
collections_path = ~/.ansible/collections
